#!/usr/bin/env direnv
# https://github.com/emetriq/taxigirl
# https://github.com/zimbatm/direnv
# https://github.com/gretel/automagic

set -e

### configuration file to use (json or yaml)
export TAXIGIRL_CONFIG="@./config/test.yml"

### usually this profile is defined in '/etc/.aws/credentials'
# export AWS_PROFILE="production"
export AWS_PROFILE="default"

### useful for development. bit noisy on production
export ANSIBLE_DISPLAY_ARGS_TO_STDOUT="True"

### dont phone home to hashicorp
export VAGRANT_CHECKPOINT_DISABLE="True"

### debugging
# export VAGRANT_LOG="info"
# export VAGRANT_NO_PLUGINS="1"
# export VAGRANT_NO_TRIGGERS="1"

### ansible run analysis
### https://ara.readthedocs.io/en/latest/configuration.html#ara-database
#export ARA_DATABASE="mysql+pymysql://ara:password@localhost/ara"
#export ARA_DATABASE="sqlite:///~/.ara/ansible.sqlite" # default

set -e

### use autobitch if available
if test -f "$(brew --prefix autobitch)/share/autobitch.sh"; then
    use_auto "$1"
    use_auto_ruby "$1"
    use_auto_python "$1"
fi

### add executables to PATH
test -d 'bin' && PATH_add 'bin'
test -d 'sbin' && PATH_add 'sbin'
