bashate
codevalidator
flake8
flake8-deprecated
flake8-format-ansi
flake8-future
flake8-print
flake8-string-format
flake8-todo
mccabe
pre-commit
prospector
PyYAML
ansible-lint

httplib2
Jinja2
paramiko
git+https://github.com/ansible/ansible#egg=ansible
ansible-ec2-inventory

boto3
saws

fabric
python-vagrant
click
