bashate
codevalidator
flake8
flake8-deprecated
flake8-format-ansi
flake8-future
flake8-import-order
flake8-print
flake8-string-format
flake8-todo
mccabe
pre-commit
prospector
PyYAML

httplib2
Jinja2
ansible
ansible-ec2-inventory

ansible-lint
ara
testinfra

saws

lolcat
fabric
python-vagrant
diagram
click
git+https://github.com/click-contrib/click-repl#egg=click-repl
