{{ ansible_managed | comment }}

# https://docs.chef.io/config_rb_client.html

# The name of the node.
node_name "{{ ansible_hostname }}"

# The location of the log file. Default value: STDOUT.
log_location "{{ chef.log_location|default('STDOUT') }}"

# The level of logging to be stored in a log file. Possible levels: :auto (default), debug, info, warn, error, or fatal.
log_level "{{ chef.log_level|default('auto') }}".to_sym

# enable colors if session is interactive
color STDOUT.isatty || false

# The sub-directory for cookbooks on the chef-client. This value can be a string or an array of file system locations, processed in the specified order. The last cookbook is considered to override local modifications.
cookbook_path [ "{{ berkshelf.cookbook_path }}" ]

# The path to a file that contains JSON data.
json_attribs "{{ chef.config_dir|default('/etc/chef') }}/node.json"

# The location of the file that contains the client key.
client_key '/opt/chef/embedded/ssl/cert.pem'

# Enable chef-zero. This setting requires local_mode to be set to true.
chef_zero.enabled true

# Run the chef-client in local mode. This allows all commands that work against the Chef server to also work against the local chef-repo.
local_mode false

# Whether Chef Zero local mode should bind to a port.
listen false

# prevents warning if no chef-server is in use
enable_reporting false

# The home directory for the user that is running the chef-client as a non-root user.
cache_path "{{ chef.file_cache_path|default('/tmp/chef') }}"

# The location in which cookbooks (and other transient data) files are stored when they are synchronized. This value can also be used in recipes to download files with the remote_file resource.
file_cache_path "{{ chef.file_cache_path|default('/tmp/chef') }}"

# All files in a cookbook must contain valid Ruby syntax. Use this setting to specify the location in which knife caches information about files that have been checked for valid Ruby syntax.
syntax_check_cache_path "{{ chef.file_cache_path|default('/tmp/chef') }}"
